<style>
.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    5px;
    position:   relative;
    width:      180px;
    height:     25px;
}
.rating {
    background: url('empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('full.png') no-repeat;
}
.ratings_over {
    background: url('full.png') no-repeat;
}
</style>
